.launchBtn {
    font-size: 16px;
    padding: 5px 8px 5px 8px;
    float: right !important;
}

.mClose {
    float: right;
    color: red;
    padding: 2px 6px;
    display: inline;
    border-radius: 50%;
    cursor: pointer;
}

.mHead {
    display: inline;
    color: grey;
}

.mHead2 {
    display: inline;
    color: grey;
    margin: 0 0 0 1%;
}

.formDiv {
    display: flex;
    flex-wrap: wrap;
    width: 39rem;
    margin: 2% 0 0 0;
}

.modLabel {
    width: 25%;
    font-size: 15px;
    padding: 2px 4px;
}

.modInput {
    width: 75%;
    font-size: 15px;
    padding: 2px 4px;
}

.saveBtn {
    /* float: right; */
    font-size: 15px;
    padding: 2px 13px;
}

.cBox1 {
    width: 80%;
    margin: 0 0 0 2rem;
}

.defVar {
    display: flex;
    flex-wrap: wrap;
}

.varOne {
    width: 40%;
    margin: 0 2.5% 0 0%;
}

.varTwo {
    width: 40%;
    margin: 0 2.5% 0 0%;
}

.onBtn {
    width: 4%;
    margin: 2% 0 0px 1.5%;
    border: 1px grey;
    padding: 2px 1.75rem 1px 0;
}

.happen {
    margin: 4% 0 0 2%;
}

.offBtn {
    width: 4%;
    margin: 1.7% .8% 0 1.5%;
    border: 1px grey;
    padding: 0 1.75rem 0 0;
}