.homeTop {
    margin: 2% 0 0 0;
}

.tblHead {
    color: grey;
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.search {
    width: 30%;
}

.accountTop {
    margin: 1% 0 0 0;
}

.lineAS {
    height: 1.5px;
    background-color: rgb(211, 211, 211);
    color: black;
    box-shadow: 0 1px 8px grey;
}