.rule-fld1 {
    width: 20%;
    margin: 0 2% 1% 0;
    height: 2rem;
    padding: 0 0 0 5px;
}

.rule-fld3 {
    width: 48%;
    margin: 0 2% 1% 0;
    height: 2rem;
    padding: 0 0 0 5px;
}

.add-rule-btn {
    padding: 3px 8px 3px 8px;
    cursor: pointer;

}

.rem-rule-btn {
    padding: 3px 8px 3px 8px;
    /* float: right; */
    margin: 0 0% 0 1%;
    cursor: pointer;
}

.add-rule-btn-boo {
    padding: 3px 8px 3px 8px;
    cursor: pointer;
}

.add-rule-btn-sti {
    padding: 3px 8px 3px 8px;
    border: 2px black;
    cursor: pointer;
}

.rem-rule-btn-boo {
    padding: 3px 8px 3px 8px;
    /* float: right; */
    margin: 2% 0% 1.5% 1%;
    cursor: pointer;
}

.rem-rule-btn-sti {
    padding: 3px 5px 3px 5px;
    /* float: right; */
    margin: 3% 0% 0% 1%;
    cursor: pointer;
}

.rule-box {
    background-color: rgb(227, 227, 227);
    margin: 0% 0 0 0;
    padding: 1% 0 0 2%;
    border-radius: 0px;
}

.rem-rule {
    margin: 1% 0 0 0;
    padding: 3px 8px 3px 8px;
}

.add-rule {
    margin: 1% 0 0 2%;
    padding: 3px 8px 3px 8px;
    /* float: right; */
}

.rule-box-boo {
    display: flex;
    background-color: rgb(227, 227, 227);
    margin: 0% 0 0% 0;
    padding: 1% 0 5% 2%;
    border-radius: 0px;
}

.rule-box-sti {
    display: flex;
    background-color: rgb(227, 227, 227);
    margin: 0% 0 0% 0;
    padding: 0% 0 5% 2%;
    border-radius: 0px;
}

.rule-box-js {
    display: flex;
    background-color: rgb(227, 227, 227);
    margin: 0% 0 0% 0;
    padding: 0% 0 5% 2%;
    border-radius: 0px;
    flex-wrap: wrap;
}

.rule-js1 {
    width: 92%;
    margin: 0 2% 3% 0;
    /* height: 2rem; */
    padding: 0 0 0 5px;
}

.rule-js2 {
    width: 45%;
    margin: 0 2% 1% 0;
    height: 2rem;
    padding: 0 0 0 5px;
}

.rule-js3 {
    width: 45%;
    margin: 0 2% 1% 0;
    height: 2rem;
    padding: 0 0 0 5px;
}