@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@tailwind base;
@tailwind components;
@tailwind utilities;

.w-screen {
  width: 46vw;
}





* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.products,
.mango {
  /* display: flex; */
  height: auto;
  /* align-items: center;
  justify-content: center; */
  /* font-size: 3rem; */
  width: 85%;
  float: right;
  padding: 0% 0 0 0%;
  /* background-color: rgb(219 234 254 / var(--tw-bg-opacity)); */
  /* background-color: rgb(219 234 254);*/
  background-color: #f5f8fa;
}

.reports {
  /* display: flex; */
  height: 90vh;
  /* align-items: center;
  justify-content: center; */
  /* font-size: 3rem; */
  width: 85%;
  float: right;
  padding: 0 0 0 0%;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

.home {
  /* display: flex; */
  height: auto;
  /* align-items: center;
  justify-content: center; */
  /* font-size: 3rem; */
  width: 85%;
  float: right;
  padding: 0 0 0 0%;
  margin: -1.6% 0 0 0;
  /* background-color: rgb(219 234 254 / var(--tw-bg-opacity)); */
}

.userDetail {
  /* display: flex; */
  height: auto;
  /* font-size: 3rem; */
  width: 85%;
  float: right;
  padding: .5% 1% 0 1.3%;
  /* background-color: rgb(219 234 254); */
  background-color: #e1e8ed;

}

.head {
  color: black;
}

.targeting {
  top: 10%;
}

.signin {
  height: 100vh;
  background-color: #e1e8ed;
  width: 85%;
  float: right;
}

.bg-home {
  background-color: #e1e8ed;
  height: auto;
}

/* .p-2 {
  padding: 0.5rem;
  width: 10%;
} */